#Introduction to OOP, Class and Object

In [1]:
class Student:
  roll = ''
  gpa = ''

In [2]:
rahim = Student()
print(isinstance(rahim,Student))

True

In [3]:
rahim.roll = 101
rahim.gpa = 3.70

In [4]:
print(f"Roll: {rahim.roll}, GPA: {rahim.gpa}")

Roll: 101, GPA: 3.7

In [5]:
karim = Student()

karim.roll = 102
karim.gpa = 3.75

print(f"For Rahim, Roll: {rahim.roll}, GPA: {rahim.gpa}")
print(f"For Karim, Roll: {karim.roll}, GPA: {karim.gpa}")

For Rahim, Roll: 101, GPA: 3.7
For Karim, Roll: 102, GPA: 3.75

#Introducing Method or Function

In [6]:
class Student:
  roll = ''
  gpa = ''

  def display(self):
    print(f"Roll: {self.roll}, GPA: {self.gpa}")

In [7]:
rahim = Student()
rahim.roll = 101
rahim.gpa = 3.70
rahim.display()

Roll: 101, GPA: 3.7

In [8]:
karim = Student()
karim.roll = 102
karim.gpa = 3.75
karim.display()

Roll: 102, GPA: 3.75

We can do it another way

In [9]:
class Student:
  roll = ''
  gpa = ''

  def set_value(self, roll, gpa):
    self.roll = roll
    self.gpa = gpa

  def display(self):
    print(f"Roll: {self.roll}, GPA: {self.gpa}")

In [10]:
rahim = Student()
rahim.set_value(101, 3.75)
rahim.display()

Roll: 101, GPA: 3.75

In [11]:
karim = Student()
karim.set_value(102, 3.70)
karim.display()

Roll: 102, GPA: 3.7

#Constractor

In [12]:
class Student:
  roll = ''
  gpa = ''

  def __init__(self, roll, gpa):
    self.roll = roll
    self.gpa = gpa

  def display(self):
    print(f"Roll: {self.roll}, GPA: {self.gpa}")

In [13]:
rahim = Student(101, 3.75)
rahim.display()

Roll: 101, GPA: 3.75

In [14]:
karim = Student(102, 3.70)
karim.display()

Roll: 102, GPA: 3.7

Exercise

In [15]:
class Triangle:

  def __init__(self, base, height):
    self.base = base
    self.height = height

  def calculate_area(self):
    area = 0.5 * self.base * self.height
    print("Area: ", area)

t1 = Triangle(10, 20)
t1.calculate_area()

t2 = Triangle(20, 30)
t2.calculate_area()

Area:  100.0
Area:  300.0

#Inheritance

In [16]:
class Phone:

  def call(self):
    print("You can call")

  def message(self):
    print("You can message")

In [17]:
class Samsung:

  def call(self):
    print("You can call")

  def message(self):
    print("You can message")

  def photo(self):
    print("You can take photo")

In [18]:
p = Phone()
p.message()
p.call()

You can message
You can call

In [19]:
s = Samsung()
s.message()
s.call()
s.photo()

You can message
You can call
You can take photo

We can do it, but it needs repetation of code.

So we need Inheritance

In [20]:
class Phone:

  def call(self):
    print("You can call")

  def message(self):
    print("You can message")

In [21]:
class Samsung(Phone):
  #call & message
  def photo(self):
    print("You can take photo")

In [22]:
s = Samsung()

s.message()
s.call()
s.photo()

You can message
You can call
You can take photo

Here Samsung class is a subclass of Phone

We can check it by below code

In [23]:
print(issubclass(Samsung, Phone))

True

Phone() = Parent class / Super class / Base class

Samsung() = Child class / Sub class /Derived class

#Method Overriding

In [24]:
class Phone:
  def __init__(self):
    print("I am in phone class")

class Samsung(Phone):
  # init
  pass

s = Samsung()

I am in phone class

In [25]:
class Phone:
  def __init__(self):
    print("I am in phone class")

class Samsung(Phone):
  def __init__(self):
    print("I am in Samsung class")

s = Samsung()

I am in Samsung class

This is called overriding

If you want to use the super class:

In [26]:
class Phone:
  def __init__(self):
    print("I am in phone class")

class Samsung(Phone):
  def __init__(self):
    super().__init__()
    print("I am in Samsung class")

s = Samsung()

I am in phone class
I am in Samsung class

In [27]:
class Shape:
  def __init__(self, dim1, dim2):
    self.dim1 = dim1
    self.dim2 = dim2

  def area(self):
    print("I am area method of shape class")

class Triangle(Shape):
  def area(self):
    area = 0.5 * self.dim1 * self.dim2
    print("Area of Triangle: ", area)

class Rectangle(Shape):
  def area(self):
    area = self.dim1 * self.dim2
    print("Area of Rectangle: ", area)

t1 = Triangle(20, 30)
t1.area()

r1 = Rectangle(20, 30)
r1.area()

Area of Triangle:  300.0
Area of Rectangle:  600

#Multiple Inheritance

In [28]:
class A:
  def display1(self):
    print("I am inside A class")

class B(A):
  #display1
  def display2(self):
    print("I am inside B class")

class C(B):
  #display1, display2
  def display3(self):
    print("I am inside C class")

ob1 = C()
ob1.display1()
ob1.display2()
ob1.display3()

I am inside A class
I am inside B class
I am inside C class

here is another way

In [29]:
class A:
  def display1(self):
    print("I am inside A class")

class B(A):
  #display1
  def display2(self):
    print("I am inside B class")

class C(B):
  #display1, display2
  def display3(self):
    super().display1()
    super().display2()
    print("I am inside C class")

ob1 = C()
ob1.display3()

I am inside A class
I am inside B class
I am inside C class

In [30]:
class A:
  def display(self):
    print("I am inside A class")

class B:
  #display1
  def display(self):
    print("I am inside B class")

class C(A,B):
  #A - display1
  #B - display2
  def display(self):
    print("I am inside C class")

ob1 = C()
ob1.display()

I am inside C class

In [31]:
class A:
  def display(self):
    print("I am inside A class")

class B:
  #display1
  def display(self):
    print("I am inside B class")

class C(B, A):
  pass

ob1 = C()
ob1.display()

I am inside B class

here it prints class B, because B was written first

#Abstraction

In [32]:
class shape():
  def __init__(self,dim1,dim2):
    self.dim1 = dim1
    self.dim2 = dim2

  def area(self):
    print("Shape has no area")

class Triangle(Shape):
  def area(self):
    area = 0.5 * self.dim1 * self.dim2
    print("Area of Triangle: ", area)

class Rectangle(shape):
  def area(self):
    area = self.dim1 * self.dim2
    print("Area of Rectangle: ", area)

t1 = Triangle(20,30)
t1.area()

r1 = Rectangle(20, 30)
r1.area()

Area of Triangle:  300.0
Area of Rectangle:  600

In [33]:
class shape():
  def __init__(self,dim1,dim2):
    self.dim1 = dim1
    self.dim2 = dim2

  def area(self):
    print("Shape has no area")

class Triangle(Shape):
  def area(self):
    area = 0.5 * self.dim1 * self.dim2
    print("Area of Triangle: ", area)

class Rectangle(shape):
  def area(self):
    area = self.dim1 * self.dim2
    print("Area of Rectangle: ", area)

s1 = shape(10,20)
s1.area()

t1 = Triangle(20,30)
t1.area()

r1 = Rectangle(20, 30)
r1.area()

Shape has no area
Area of Triangle:  300.0
Area of Rectangle:  600

In [34]:
from abc import ABC,abstractmethod

class shape():
  def __init__(self,dim1,dim2):
    self.dim1 = dim1
    self.dim2 = dim2

  @abstractmethod
  def area(self):
    pass

class Triangle(Shape):
  def area(self):
    area = 0.5 * self.dim1 * self.dim2
    print("Area of Triangle: ", area)

class Rectangle(shape):
  def area(self):
    area = self.dim1 * self.dim2
    print("Area of Rectangle: ", area)

s1 = shape(10,20)
s1.area()

t1 = Triangle(20,30)
t1.area()

r1 = Rectangle(20, 30)
r1.area()

Area of Triangle:  300.0
Area of Rectangle:  600

#Polymorphism

Same function work differently at different time

In [35]:
#built in polymorphic function
print(len('Alim Al Razy'))
print(len([10, 20, 30]))

#user defined polymorphic function
def add(x, y, z=0):
  return x + y + z

print(add(2,3))
print(add(2,3,4))

12
3
5
9